---
const { style, className = "" } = Astro.props;
---

<div class:list={`tag ${className}`} style={style}>
  <slot />
</div>
<style>
  .tag {
    align-items: center;
    background-color: var(--ambience-color);
    border-color: var(--ambience-color);
    border-radius: 9999px;
    color: var(--secondary-color);
    display: flex;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
  }
</style>
