---
const { style, className = "" } = Astro.props;
---

<div class:list={["tag", `${className}`, "text-sm sm:text-md"]} style={style}>
  <slot />
</div>
<style>
  .tag {
    align-items: center;
    background-color: rgba(var(--ambience-color), 0.7);
    backdrop-filter: blur(10px);
    border-color: rgba(var(--ambience-color), 1);
    border-radius: 9999px;
    box-shadow: 0 1px 4px rgba(var(--shadow-color));
    color: rgba(var(--secondary-color), 1);
    display: flex;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
  }
</style>
