.skip-link {
  position: fixed;
  z-index: 10001;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.skip-link:focus,
.skip-link:focus-visible {
  opacity: 1;
}
