.profileImgMask {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid var(--foreground);
}

.profileImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}