.tag {
  border-radius: 1.5rem;
  border-width:  2px;
  display: flex;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  align-items: center;
}

.primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--background);
}

.secondary {
  background-color: var(--background-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.tertiary {
  background-color: var(--floating-color);
  border-color: var(--floating-color);
  color: var(--primary-color);
}
