---
import { Icon } from "astro-icon/components";

const { href, newTab, className } = Astro.props;
---

<a
  href={href}
  target={newTab ? "_blank" : "_self"}
  rel={newTab ? "noopener noreferrer" : undefined}
  class={`page-link flex items-center gap-2 justify-start ${className}`}
>
  <slot />
  {newTab && <Icon name="up-right-from-square" size="1em" />}
</a>
