---
const { href, className } = Astro.props;
---

<a
  href={href}
  class={`page-link flex items-center gap-2 justify-start ${className}`}
>
  <slot />
</a>
<style>
  .page-link {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 9999px;
    color: var(--background);
    transition:
      background-color 0.2s,
      gap 0.2s;
    max-inline-size: fit-content;
  }

  .page-link:hover {
    gap: 1rem;
    background-color: var(--secondary-color);
  }

  .page-link:active {
    gap: 1rem;
    background-color: var(--primary-color);
    opacity: 0.8;
  }

  .page-link:focus-visible {
    outline: 2px dashed var(--secondary-color);
  }
</style>
