---
const { alt, width = 250, height } = Astro.props;
---

<div class="profileImgMask scroll-content opacity-0 translate-y-10 transition-[opacity,transform] duration-500">
  <img
    src="/profile-pic.jpeg"
    alt={alt}
    width={width}
    {...(height !== undefined ? { height } : {})}
    class="profileImg"
  />
</div>
