---
const { alt, width, height } = Astro.props;
---

<div class="profileImgMask scroll-content opacity-0 translate-y-10 transition-all duration-500">
  <img
    src="/profile-pic.jpeg"
    alt={alt}
    width={width}
    height={height}
    class="profileImg"
  />
</div>
<style>
  .profileImgMask {
    border-radius: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid var(--secondary-color);
  }

  .profileImg {
    object-fit: cover;
  }
</style>
