---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Divider from "../../components/divider/Divider.astro";
import Link from "../../components/link/Link.astro";
import Tag from "../../components/tag/Tag.astro";
import Layout from "../../layouts/Layout.astro";

import Card from "../../components/card/Card.astro";
import PageLink from "../../components/page-link/PageLink.astro";
import redditHE from "../../images/Reddit-common-HEs.png";
import redditCA from "../../images/Reddit-competitive-analysis.png";
import redditThumbnail from "../../images/Reddit_thumbnail.jpeg";
---

<Layout title="Orion's UX Projects - Reddit Usability Testing">
  <div class="project-container">
    <Link href="/" underline
      ><Icon name="arrow-left-long" />Go back to the home page</Link
    >
    <h1 class="project-title">Reddit Usability Test</h1>
    <p class="project-introduction">
      They might be the one of the best, but it could be better--a comprehensive
      usability test with the Reddit mobile app.
    </p>
    <div class="flex flex-row flex-wrap gap-2">
      <Tag>Mobile app</Tag>
      <Tag>Usability testing</Tag>
      <Tag>User research</Tag>
      <Tag>Heuritstic evaluation</Tag>
      <Tag>Competitive analysis</Tag>
      <Tag>Screening</Tag>
      <Tag>Interviewing</Tag>
    </div>

    <Divider />
    <h2 class="project-subtitle">Project Overview</h2>
    <p class="project-description">
      <ul>
        <li>
          <Link href="#heuristic-evaluation" className="scroll-link" underline
            >1. Heuristic evaluation</Link
          >
          <Link href="#competitive-analysis" className="scroll-link" underline
            >2. Competitive analysis</Link
          >
          <Link href="#usability-testing" className="scroll-link" underline
            >3. Usability testing</Link
          >
          <Link href="#final-report" className="scroll-link" underline
            >4. Final report</Link
          >
          <Link
            href="#what-i-learned-from-this-experience"
            className="scroll-link"
            underline>5. What I learned from this experience</Link
          >
          <Link href="#supplemental-materials" className="scroll-link" underline
            >6. Supplemental materials</Link
          >
        </li>
      </ul>

      <strong>My Role:</strong><div class="flex flex-row flex-wrap gap-2">
        <Tag>UX researcher</Tag>
        <Tag>Interviewer</Tag>
        <Tag>Note taker</Tag>
        <Tag>Observer</Tag>
      </div>
      <strong>Tools Used:</strong><div class="flex flex-row flex-wrap gap-2">
        <Tag>Figma</Tag>
        <Tag>Miro</Tag>
        <Tag>Canva</Tag>
        <Tag>Google docs</Tag>
        <Tag>Google forms</Tag>
        <Tag>Zoom</Tag>
      </div>
      <br />
      <p>
        Prefer a presentation style? Click <Link
          className="inline-flex"
          aria-label="Final report(opens a new window)"
          href="https://www.canva.com/design/DAGkBKFw-OM/RQgTUzrfN2INXlD2s_C2QA/view?utm_content=DAGkBKFw-OM&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hcc176fb3c2"
          newTab
          underline
          >Final report<Icon name="up-right-from-square" />
        </Link>
      </p>
    </p>
    <h2 class="project-subtitle">Challenge</h2>
    <p class="project-description">
      We know that Reddit is one of the largest and most active social media
      platforms, where users connect with communities that share their interests
      and engage in discussions. However, my team and I realized that the Reddit
      mobile app has some unconventional features and behaviors that impact its
      usability in our everyday use.
    </p>
    <h2 class="project-subtitle">Goal</h2>
    <p class="project-description">
      To address these issues, we conducted a comprehensive usability test with
      the Reddit mobile app. Our research process included a heuristic
      evaluation, competitive analysis, and user interviews. We aimed to
      identify the app&apos;s usability issues and gather insights from users to
      improve their experience.

      <div class="flex md:flex-row gap-4 overflow-x-auto lg:justify-center">
        <Image
          src={redditThumbnail}
          alt="first page of the Reddit app in a phone mock up"
          width={1500}
          class="rounded-2xl object-cover"
        />
      </div>
      <div class="process-section">
        <h2 class="project-subtitle flex">UX Research Process</h2>

        <div
          class="process-item-odd w-full items-center justify-center"
          id="heuristic-evaluation"
        >
          <div class="flex lg:flex-row flex-col gap-4">
            <div class="justify-between flex flex-col">
              <div>
                <h3>1. Heurtistic evaluation</h3>
                <br />
                <p>
                  Referring to Nielsen&apos;s 10 usability heuristics, we
                  conducted a thorough evaluation of the Reddit mobile app. We
                  identified <strong>27 usability issues</strong>, and utilize
                  Jakob Nielsen&apos;s severity rating scale to rate each one of
                  them. We finalized 5 criteiria that might impact the usability
                  the most, including
                  <br />
                  <br />
                  <ul>
                    <li><strong>Consisitency and standards</strong></li>
                    <li><strong>Aesthetics</strong></li>
                    <li>
                      <strong>Flexibility and efficiency of use</strong>
                    </li>
                    <li><strong>User control and freedom</strong></li>
                    <li><strong>Help and documentation</strong></li>
                  </ul>
                  <br />

                  After collecting all the information, we found that many
                  usability issues violated multiple heuristics. While some may
                  appear to be low severity, certain features were unnecessarily
                  complex, which could unintentionally overwhelm users over
                  time.
                  <br />
                  <br />
                </p>
              </div>
              <PageLink
                aria-label="Full Heuristic Evaluation Report(opens a new window)"
                href="https://www.canva.com/design/DAGeHG1Nzgs/KvdTPQFX7i1tluBLWcfSfg/view?utm_content=DAGeHG1Nzgs&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h71bafc9315"
                newTab
                underline
                >Full heuristic evaluation report <Icon
                  name="up-right-from-square"
                />
              </PageLink>
            </div>
            <Image
              src={redditHE}
              alt="five criteria of heuristic evaluation we picked: Consistency of standards; flexibility and efficiency of use; aesthetic and minimalist design; help users recognize, diagnose, & recover from errors; help and documentation"
              width={500}
              class="rounded-2xl object-cover w-full h-full"
            />
          </div>
        </div>

        <div
          class="process-item-even flex flex-col justify-center w-full"
          id="competitive-analysis"
        >
          <h3>2. Competitive analysis</h3>
          <br />
          <p>
            By comparing Reddit to other popular platforms with similar
            features, we identified both unique features Reddit offers and
            potential additions it could adopt. Our analysis included three
            direct competitors—<strong
              >Quora, Stack Exchange, and X (Twitter)</strong
            >—as well as three indirect competitors—<strong
              >Discord, Tumblr, and TikTok</strong
            >. After the comparison, we gathered some takeaways, highlighting
            features Reddit could integrate and common usability issues from
            other platforms/apps to avoid.
            <br />
            <br />
            Overall, we conclude that Reddit app stands out as a leading community-driven
            platform, <strong
              >catering to a diverse audience across various interests</strong
            >. However, <strong
              >its user interface and user flows presents usability challenges</strong
            >
            that could further enhance the user experience. Another key finding for
            us is that there is <strong
              >room for growth in content management and user engagement
              strategies</strong
            >.
            <br />
            <br />
          </p>
          <PageLink
            aria-label="Full Competitve Analysis Report(opens a new window)"
            href="https://www.canva.com/design/DAGe8G6NhbA/RKMjFCkoP5bBLE0NgogfIw/view?utm_content=DAGe8G6NhbA&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h0be0717be7"
            newTab
            underline
            >Full competitive analysis report <Icon
              name="up-right-from-square"
            />
          </PageLink>
          <br />
          <Image
            src={redditCA}
            alt="Competitive analysis thumbnail of Reddit"
            width={2000}
            quality={100}
            class="rounded-2xl object-cover w-full h-full"
          />
        </div>

        <div class="flex gap-4">
          <div
            class="process-item-odd flex flex-col justify-center w-full"
            id="usability-testing"
          >
            <div>
              <h3>3. Usability testing</h3>
              <br />
              <h4 class="font-bold text-xl">3.1 Screener</h4>
              <p>
                We first need to figure out who we can recruit for this project,
                We come together to figure out the criteria for the participants
                that could help us with the usablity result the most. For the
                limited amount of time and resources, we decided to focus on
                users between <strong> 18-35 years old</strong>, since this is
                the majority of the user group. We are splitting them into to
                groups--<strong
                  >users who have used Reddit for at least 6 months, and users
                  who have never used Reddit before but know what it is.</strong
                > In this way, we can compare how experienced user and inexperienced
                user interact with the app differently, and we can gether those essential
                information to pinpoint some of the higher-severity usability issues.
              </p>
              <br />
              <PageLink
                aria-label="Full Screener script(opens a new window)"
                href="https://docs.google.com/document/d/1x-zslARgMfu9iEPc4ffhQpUENTSlQ9qVtZLiQgEm2c4/edit?usp=sharing"
                newTab
                underline
                >Screener script <Icon name="up-right-from-square" />
              </PageLink>
              <br />
              <h4 class="font-bold text-xl">3.2 Interviews</h4>
              <p>
                We created 6 tasks, and tested out the app with 5 participants,
                and each session lasted about 45 minutes. During each session, I
                played the role of <strong> note taker </strong> and <strong
                  >observer</strong
                >, while my teammate was the facilitator. We recorded the
                session and took notes to capture the participants' thoughts and
                behaviors. After each session, we debriefed to discuss our
                observations and insights. We also asked participants to fill
                out the SUS (System Usability Scale) questionnaire to gather
                quantitative data on their experience with the app at the end,
                which to gain an overview of the usability issues.
              </p>
              <br />
              <PageLink
                aria-label="Interview notes and affiniity diagram(opens a new window)"
                href="https://www.figma.com/board/8dh600rWLY9PgjRnjfmTAQ/Testing---Affinity-Map?node-id=0-1&t=Dv4R52kVhPGPJI0m-1"
                newTab
                underline
                >Interview notes and affinity diagram <Icon
                  name="up-right-from-square"
                />
              </PageLink>
            </div>
          </div>
        </div>
        <div class="flex gap-4">
          <div
            class="process-item-even flex flex-col justify-center w-full"
            id="final-report"
          >
            <h3>4. Final Report</h3>
            <p>
              To unwrap all of this, I first calculated average score of the
              SUS, which is 74--not bad, but not great either.
              <br />
              <br />
              For the insights, we found out that even though the app is usable and
              most participants will be able to complete the tasks eventually, there
              are small hiccups that bother them, and maninly in those 4 areas:
            </p>
            <br />
            <br />
            <div class="flex flex-col gap-8">
              <div class="flex flex-row gap-8 flex-wrap md:flex-nowrap">
                <Card
                  cardType="secondary"
                  className="flex flex-col gap-4 basis-full md:basis-1/2"
                  ><h3>
                    1 Reddit makes itself usable for browsing for all, but not
                    as much for creating for all
                  </h3>
                  <p>
                    Participants knows how to search for content, whether from
                    Google or within the app itself, but they struggles to use
                    the Reddit-specific features like awarding badges, and
                    creating communities. They believe that the platform or the
                    app is for "more skilled users".
                  </p>
                </Card>
                <Card
                  cardType="secondary"
                  className="flex flex-col gap-4 basis-full md:basis-1/2"
                  ><h3>
                    2 Overwhelming design structure for content heavy platform--
                    takes time to find the right info
                  </h3>
                  <p>
                    searching for content is more complicated than other
                    platforms, and everything is showing up all at once is
                    overwhelming; The content is not well organized and it often
                    taks too many clicks to get to the right place. Plus,
                    showing that many of selections for community topics is not
                    helpful.
                  </p>
                </Card>
              </div>
              <div class="flex flex-row gap-8 flex-wrap md:flex-nowrap">
                <Card
                  cardType="secondary"
                  className="flex flex-col gap-4 basis-full md:basis-1/2"
                  ><h3>
                    3 Platform-wide terminology/design systems aren’t clear, or
                    universal in their meaning = various rounds of trial and
                    error
                  </h3>
                  <p>
                    Sorting terminology is not universal, what is the difference
                    between reply and join a conversation; and who can help me
                    understand "upvote" and "awards"?
                  </p>
                </Card>
                <Card
                  cardType="secondary"
                  className="flex flex-col gap-4 basis-full md:basis-1/2"
                  ><h3>
                    4 Various functions that are hard to identify and fail to
                    signify their affordances
                  </h3>
                  <p>
                    Some functions are not clear, such as collapsing and
                    expanding comments; adding the moderator rules are just
                    breaking the whole flow of creating the commnuity; and error
                    messages are never clear to the participants.
                  </p>
                </Card>
              </div>
            </div>
            <br />
            <PageLink
              aria-label="Final report(opens a new window)"
              href="https://www.canva.com/design/DAGkBKFw-OM/RQgTUzrfN2INXlD2s_C2QA/view?utm_content=DAGkBKFw-OM&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hcc176fb3c2"
              newTab
              underline
              >Final report<Icon name="up-right-from-square" />
            </PageLink>
          </div>
        </div>

        <div class="flex gap-4">
          <div
            class="process-item-odd flex flex-col justify-center w-full"
            id="what-i-learned-from-this-experience"
          >
            <div>
              <h3>5. What I learned from this experience</h3>
              <br />
              <h4 class="font-bold text-xl">
                1, our hypothesis can be very inaccurate.
              </h4>
              <p>
                What I predicted for some of the tasks were much worse, but
                users were able to learn it much faster than we thought, and
                some of them might not experience that issue at all.
              </p>
              <br />
              <h4 class="font-bold text-xl">2, pilot testing is essential.</h4>
              <p>
                We did our pilot testing before we started the actual testing,
                and even so, we still found out that there are so many little
                issues that could go wrong, resulting in breaking the flow of
                testing.
              </p>
              <br />
              <h4 class="font-bold text-xl">
                3, 5 participants can uncover a lot of usability issues, but
                more is better.
              </h4>
              <p>
                We were able to find out a lot of usability issues with only 5
                participants, and during each session, the unwanted behavior of
                the app also provided us a lot more insights than we expected,
                but we also believe that more participants could help us find
                more usability issues.
              </p>
            </div>
          </div>
        </div>
        <div class="flex gap-4 w-full">
          <div
            class="process-item-even flex flex-col justify-center w-full"
            id="supplemental-materials"
          >
            <div>
              <h3>6. Supplemental Materials</h3>
              <br />
              <Link
                aria-label="Heuristic evaluation(opens a new tab)"
                href="https://www.canva.com/design/DAGeHG1Nzgs/KvdTPQFX7i1tluBLWcfSfg/view?utm_content=DAGeHG1Nzgs&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h71bafc9315"
                underline
                newTab
                >Heuristic evaluation <Icon name="up-right-from-square" />
              </Link>
              <Link
                aria-label="Competitive analysis(opens a new tab)"
                href="https://www.canva.com/design/DAGe8G6NhbA/RKMjFCkoP5bBLE0NgogfIw/view?utm_content=DAGe8G6NhbA&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h0be0717be7"
                underline
                newTab
                >Competitive analysis <Icon name="up-right-from-square" />
              </Link>
              <Link
                aria-label="Screener(opens a new tab)"
                href="https://docs.google.com/document/d/1LtwnCj-ok-7nD5Pt9-7qFHHo8eK8NdqqOsRqcrWa-Ns/edit?usp=sharing"
                underline
                newTab
                >Screener <Icon name="up-right-from-square" />
              </Link>
              <Link
                aria-label="Post-Test questions(opens a new tab)"
                href="https://docs.google.com/spreadsheets/d/1N61k7fXKa3DLQw_cJo2crEmo1i1obXAgOhxCyB4QvT0/edit?gid=537614011#gid=537614011"
                underline
                newTab
                >Post-Test questions <Icon name="up-right-from-square" />
              </Link>
              <Link
                aria-label="Usability testing plan(opens a new tab)"
                href="https://docs.google.com/document/d/10Vdr1UhB0GowFXRLcnvRKLVFrV9jSGjxi9GYmE5M-Ts/edit?usp=sharing"
                underline
                newTab
                >Usability testing plan <Icon name="up-right-from-square" />
              </Link>
              <Link
                aria-label="Usability testing affinity diagram(opens a new tab)"
                href="https://www.figma.com/board/8dh600rWLY9PgjRnjfmTAQ/Testing---Affinity-Map?node-id=0-1&p=f"
                underline
                newTab
                >Usability testing affinity diagram <Icon
                  name="up-right-from-square"
                />
              </Link>
            </div>
          </div>
        </div>
        <br />
        <Link href="/" underline
          ><Icon name="arrow-left-long" />Go back to the home page</Link
        >
      </div>

      <style>
        .project-container {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
        .project-title {
          font-size: 3rem;
        }
        .project-introduction {
          font-size: 1.5rem;
        }
        .process-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }
        .project-subtitle {
          color: var(--primary-color);
          font-size: 2rem;
        }
        .process-item-odd {
          background-color: var(--floating-color);
          border-radius: 1.5rem;
          padding: 1.5rem;
          box-shadow: 0 1px 4px rgba(var(--shadow-color));
        }
        .process-item-even {
          background-color: var(--background);
          border-radius: 1.5rem;
          padding: 1.5rem;
          box-shadow: 0 1px 4px rgba(var(--shadow-color));
        }
        .process-item-odd h3,
        .process-item-even h3 {
          color: var(--primary-color);
          font-size: 1.5rem;
        }
        .gallery img {
          width: 100%;
          border-radius: 0.5rem;
        }
      </style>
    </p>
  </div>
</Layout>
