---
import { Image } from "astro:assets";

import ClickableCard from "../components/clickable-card/ClickableCard.astro";
import Tag from "../components/tag/Tag.astro";
import nexusPic from "../images/Nexus_thumbnail.jpeg";
import redditPic from "../images/Reddit_thumbnail.jpeg";
import SagePic from "../images/Sage_thumbnail.jpeg";
import venusPic from "../images/Venus_thumbnail.jpeg";
---

<div class="flex flex-col gap-4">
  <div class="flex flex-row gap-4 flex-wrap xl:flex-nowrap justify-center">
    <ClickableCard
      title="UT Sage "
      description="Vitrual AI tutor for students and professors. (Case study coming soon!)"
      newTab
      href="https://provost.utexas.edu/the-office/academic-affairs/office-of-academic-technology/ut-sage/"
    >
      <Image
        format="jpeg"
        slot="image"
        class="w-full h-full"
        src={SagePic}
        alt="UT Sage Tutor thumbnail"
        width={1200}
        quality={100}
      />
      <div slot="tags" class="flex flex-row gap-2 pt-2 flex-wrap">
        <Tag>Professional experience</Tag>
        <Tag>AI chatbot</Tag>
        <Tag>Design system</Tag>
      </div>
    </ClickableCard>
  </div>
  <div class="flex flex-row gap-4 flex-wrap xl:flex-nowrap justify-center">
    <ClickableCard
      title="Venus"
      description="No more swiping, let us do the matching."
      href="/ux-projects/venus"
    >
      <Image
        format="jpeg"
        slot="image"
        class="w-full h-full"
        src={venusPic}
        alt="Venus thumbnail"
        width={1200}
        quality={100}
      />
      <div slot="tags" class="flex flex-row gap-2 pt-2 flex-wrap">
        <Tag>UX prototyping</Tag>
        <Tag>Figma</Tag>
        <Tag>Interaction design</Tag>
      </div>
    </ClickableCard>
  </div>
  <div class="flex flex-row gap-4 flex-wrap xl:flex-nowrap justify-center">
    <ClickableCard
      title="Reddit Usability Test"
      description="A usability test with the mobile app."
      href="/ux-projects/reddit"
    >
      <Image
        format="jpeg"
        slot="image"
        class="w-full h-full"
        src={redditPic}
        alt="Reddit thumbnail"
        width={1200}
        quality={100}
      />
      <div slot="tags" class="flex flex-row gap-2 pt-2 flex-wrap">
        <Tag>UX research</Tag>
        <Tag>Usability testing</Tag>
      </div>
    </ClickableCard>
    <ClickableCard
      title="Nexus"
      description="Design inspired by culture, not trends."
      newTab
      href="https://nexusbythecosmos.framer.website/"
    >
      <Image
        format="jpeg"
        slot="image"
        class="w-full h-full"
        src={nexusPic}
        alt="Nexus thumbnail"
        width={1200}
        quality={100}
      />
      <div slot="tags" class="flex flex-row gap-2 pt-2">
        <Tag>Designathon</Tag>
        <Tag>Visual design</Tag>
      </div>
    </ClickableCard>
  </div>
</div>
