---
import { Image } from "astro:assets";

import ClickableCard from "../components/clickable-card/ClickableCard.astro";
import Tag from "../components/tag/Tag.astro";
import bloomPic from "../images/Bloom-web_thumbnail.jpeg";
import trustyPic from "../images/Trusty_thumbnail.jpeg";
---

<div class="flex flex-row gap-4 flex-wrap xl:flex-nowrap justify-center">
  <ClickableCard
    title="Bloom co."
    description="Have fun drinking tea."
    newTab
    href="https://www.figma.com/deck/al0HIY4mxXvO71nXE3wvhV/Bloom-co.-Tea?node-id=1-25&t=5bJp7x1FheuLZYYK-1"
  >
    <Image
      slot="image"
      class="w-full h-full"
      src={bloomPic}
      alt="Bloom app thumbnail"
      width={375}
      quality={100}
    />
    <div slot="tags" class="flex flex-row gap-2 pt-2">
      <Tag>User research</Tag>
      <Tag>Design system</Tag>
    </div>
  </ClickableCard>
  <ClickableCard
    title="Trusty"
    description="Let news be trusted."
    href="/ux-projects/trusty"
  >
    <Image
      slot="image"
      class="w-full h-full"
      src={trustyPic}
      alt="Trusty app thumbnail"
      width={375}
      quality={100}
    />
    <div slot="tags" class="flex flex-row gap-2 pt-2">
      <Tag>UI design</Tag>
      <Tag>Prototyping</Tag>
    </div>
  </ClickableCard>
</div>
