---
import { Image } from "astro:assets";

import ClickableCard from "../components/clickable-card/ClickableCard.astro";
import Tag from "../components/tag/Tag.astro";
import nexusPic from "../images/Nexus_thumbnail.jpeg";
import redditPic from "../images/Reddit_thumbnail.jpeg";
import SagePic from "../images/Sage_thumbnail.png";
import venusPic from "../images/Venus_thumbnail.jpeg";
---

<div class="design-projects">
  <div class="flex flex-col gap-4 w-full">
    <ClickableCard
      title="UT Sage "
      description="Introducing a cohesive design system for the campus-wide AI tutor platform."
      href="/ux-projects/ut-sage"
    >
      <Image
        format="jpeg"
        slot="image"
        class="w-full h-full"
        src={SagePic}
        alt="UT Sage Tutor thumbnail"
        width={1200}
        quality={100}
      />
      <div slot="tags" class="flex flex-row gap-2 pt-2 flex-wrap">
        <Tag>Professional experience</Tag>
        <Tag>AI chatbot</Tag>
        <Tag>Design system</Tag>
      </div>
    </ClickableCard>
    <ClickableCard
      title="Venus"
      description="A dating app that allows AI to help you match your dates, from start to finish."
      href="/ux-projects/venus"
    >
      <Image
        format="jpeg"
        slot="image"
        class="w-full h-full"
        src={venusPic}
        alt="Venus thumbnail"
        width={1200}
        quality={100}
      />
      <div slot="tags" class="flex flex-row gap-2 pt-2 flex-wrap">
        <Tag>UX prototyping</Tag>
        <Tag>Figma</Tag>
        <Tag>Interaction design</Tag>
      </div>
    </ClickableCard>
    <ClickableCard
      title="Reddit Usability Test"
      description="A comprehensive usability test with the Reddit mobile app."
      href="/ux-projects/reddit"
    >
      <Image
        format="jpeg"
        slot="image"
        class="w-full h-full"
        src={redditPic}
        alt="Reddit thumbnail"
        width={1200}
        quality={100}
      />
      <div slot="tags" class="flex flex-row gap-2 pt-2 flex-wrap">
        <Tag>UX research</Tag>
        <Tag>Usability testing</Tag>
      </div>
    </ClickableCard>
    <ClickableCard
      title="Nexus"
      description="An interactive platform for designers to explore identity, culture, and design beyond the algorithm-driven trends."
      newTab
      href="https://nexusbythecosmos.framer.website/"
    >
      <Image
        format="jpeg"
        slot="image"
        class="w-full h-full"
        src={nexusPic}
        alt="Nexus thumbnail"
        width={1200}
        quality={100}
      />
      <div slot="tags" class="flex flex-row gap-2 pt-2">
        <Tag>Designathon</Tag>
        <Tag>Visual design</Tag>
      </div>
    </ClickableCard>
  </div>
</div>
