---
import Card from "../components/card/Card.astro";
import Link from "../components/link/Link.astro";
import Tag from "../components/tag/Tag.astro";
---

<div class="flex flex-row flex-wrap-reverse lg:flex-nowrap gap-12">
  <div
    class="flex flex-col gap-4 justify-center w-full flex-1 items-stretch lg:basis-1/2"
  >
    <Card style={{ border: "2px solid #bf5700", inlineSize: "100%" }}>
      <div class="flex items-center justify-between">
        <h3 class="font-normal text-2xl">University of Texas at Austin</h3>
      </div>
      <div class="flex justify-start">
        <Tag className="text-xs">Current</Tag>
      </div>
      <p class="flex flex-col justify-between">
        <Link href="https://www.ischool.utexas.edu/" newTab underline
          >M.S. Information Studies</Link
        >
        <span>Human-Computer Interaction & UX Design</span>
        <span>Aug 2024 - May 2026 (expected)</span>
      </p>
    </Card>
    <Card style={{ border: "2px solid #CC0000", inlineSize: "100%" }}>
      <h3 class="font-normal text-2xl">North Carolina State University</h3>
      <br />
      <p class="flex flex-col justify-between">
        <Link href="https://www.csc.ncsu.edu/" newTab underline
          >B.S. Computer Science</Link
        >
        Minor in Art & Design
        <span>Aug 2017 - May 2021</span>
      </p>
    </Card>
  </div>
  <div
    class="flex flex-col items-center md:items-start lg:basis-1/2 justify-start"
  >
    <h2 class="text-4xl">Education</h2>
    <p
      style={{
        fontWeight: "500",
        fontSize: "64px",
        color: "var(--primary-color)",
      }}
      class="flex flex-wrap"
    >
      I like to keep learning, it&apos;s fun.
    </p>
    <p class="flex items-center gap-2">
      Once belongs to a wolfpack, now becoming one of the longhorns.
    </p>
  </div>
</div>
