---
import { Icon } from "astro-icon/components";
import Disclosure from "../components/disclosure/Disclosure.astro";
import Link from "../components/link/Link.astro";
---

<div
  class="flex flex-row flex-wrap-reverse lg:flex-nowrap gap-12 w-full pt-12 pb-8"
  id="experience"
>
  <div
    class="flex flex-col gap-4 justify-between w-full flex-1 items-stretch scroll-content opacity-0 translate-y-10 transition-all duration-500"
  >
    <div
      class="experience flex flex-col gap-4 justify-center items-center w-full"
    >
      <Disclosure
        tag="Most Recent"
        title="Design Engineer"
        company="Visa Inc."
        date="May 2022 - June 2024"
      >
        <ul role="list" class="flex list-['•'] flex-col gap-3 p-6">
          <li class="pl-4">
            Spearheaded the creation and management as the lead engineer for
            <Link
              className="inline-flex"
              href="https://design.visa.com/"
              newTab
              underline
              inline
              >Visa Design System React library <Icon
                name="up-right-from-square"
              /></Link
            >
            , enhancing collaboration between designers and engineers to deliver
            seamless user experiences.
          </li>
          <li class="pl-4">
            Achieved industry-level accessibility (WCAG 2.1) compliance for
            VPDS, significantly improving accessibility and inclusivity, in
            collaboration with A11y researchers.
          </li>
          <li class="pl-4">
            Authored comprehensive documentation of VPDS in React and led
            knowledge-sharing sessions, resulting in a 50% time reduction in
            onboarding time for new developers.
          </li>
          <li class="pl-4">
            Identified and implemented process improvements for Visa VaultKey+
            Design system in both React and Angular.
          </li>
          <li class="pl-4">
            Facilitated cross-functional communication and problem-solving,
            leading to a 30% decrease in bug resolution time in Visa VaultKey+.
          </li>
          <li class="pl-4">
            Provided critical support for North American and Asia-Pacific
            regions, successfully addressing and resolving high-priority issues
            in both legacy and new design systems.
          </li>
        </ul>
      </Disclosure>
      <Disclosure
        title="Visualization Intern"
        company="MANN HUMMEL USA Inc."
        date="Aug 2021 - May 2022"
      >
        <ul role="list" class="flex list-['•'] flex-col gap-3 p-6">
          <li class="pl-4">
            Led the design of a specialized portal interface collaborating with
            the leadership team. Developed a single-page application (SPA) using
            React + Typescript and MS Graph API, allowing leadership teams to
            visualize and edit datasets seamlessly, reducing dependency on
            SharePoint lists and online Excel. Achieved a 50% improvement in
            team efficiency by implementing the new web portal.
          </li>
          <li class="pl-4">
            Reimagined a legacy Production Console Interface, creating a
            user-friendly tablet interface for internal clients using Figma,
            enhanced the overall user experience, contributing to improved
            usability and efficiency by 40% in day-to-day operations.
          </li>
        </ul>
      </Disclosure>
    </div>
  </div>
  <div
    class="flex flex-col items-center md:items-end lg:basis-1/3 justify-start gap-2 scroll-content opacity-0 translate-y-10 transition-all duration-500"
  >
    <h2 class="text-4xl">Experience</h2>
    <p
      style={{
        fontWeight: "500",
        fontSize: "3rem",
        color: "var(--primary-color)",
        lineHeight: "normal",
      }}
      class="flex flex-wrap items-center text-center md:text-end"
    >
      An engineer who cares about design.
    </p>
    <p
      class="flex sm:whitespace-nowrap flex-wrap items-center gap-2 text-center md:text-end"
    >
      <br />

      Here is the PDF versions:
      <p>
        <Link underline newTab href="/Xiaolei_Qin_SDE_Resume.pdf"
          ><Icon name="file-lines" />View my SDE resume</Link
        ><Link underline newTab href="/Xiaolei_Qin_UX_Resume.pdf"
          ><Icon name="file-lines" />View my UI/UX resume</Link
        >
      </p>
    </p>
  </div>
</div>
