---
import Icon from "../components/icon/Icon.astro";
import Link from "../components/link/Link.astro"; // Adjust the path if necessary
import Divider from "../components/divider/Divider.astro";
---

<footer
  class="flex flex-col items-center gap-8 lg:px-30 sm:px-10 max-w-6xl w-full py-8"
>
  <Divider dividerType="tertiary" />
  <div class="row-start-3 flex gap-6 flex-wrap items-center justify-center">
    <Link href="https://github.com/OrionQ" newTab>
      <Icon name="github" />
      Github
    </Link>
    <Link href="https://www.linkedin.com/in/xiaolei-qin-bb0ab214b/" newTab>
      <Icon name="linkedin" />
      LinkedIn
    </Link>
    <Link href="mailto:xiaolei_qin@outlook.com" newTab>
      <Icon name="envelope" />
      Email
    </Link>
    <Link href="/Xiaolei Qin's Resume.pdf" newTab>
      <Icon name="file-lines" />
      Résumé
    </Link>
  </div>
  <span>© Xiaolei Qin {new Date().getFullYear()}.</span>
</footer>
