---
import { Icon } from "astro-icon/components";
---

<nav class={`header p-4 flex justify-between sticky top-0 mb-8`}>
  <div>
    <a href="/Portfolio" class="flex gap-4 items-center">
      <Icon name="orion-logo" size={24} color="var(--primary-color)"/>
      Xiaolei Qin
    </a>
  </div>
</nav>
<style>
  .header {
    background-color: var(--background);
  }
</style>
