---
import { Icon } from "astro-icon/components";
import Link from "../components/link/Link.astro";
import ThemeSwitcher from "../components/theme-switcher/ThemeSwitcher.astro";
---

<nav class="header px-10 py-8 sticky top-0 flex flex-col gap-8">
  <div class="flex justify-between flex-row items-center gap-12">
    <div>
      <a href="/" class="flex gap-4 items-center home-link text-2xl">
        <Icon name="orion-logo" size={24} color="var(--primary-color)" />
        Xiaolei Qin
      </a>
    </div>
    <div class="flex gap-12 flex-row items-center">
      <div class="gap-12 items-center hidden sm:flex sm:flex-row">
        <Link href="#experience" className="text-xl scroll-link"
          >Experience</Link
        >
        <Link href="#about-me" className="text-xl scroll-link">About Me</Link>
      </div>
      <ThemeSwitcher />
    </div>
  </div>
  <div class="gap-12 items-center flex sm:hidden justify-center">
    <Link href="#experience" className="text-xl scroll-link">Experience</Link>
    <Link href="#about-me" className="text-xl scroll-link">About Me</Link>
  </div>
  <style>
    .header {
      background-color: var(--background);
      z-index: 1;
    }
    .home-link:focus-visible {
      outline: 2px dashed var(--secondary-color);
    }
  </style>
</nav>
