---


import Disclosure from "../components/disclosure/Disclosure.astro";

---

<div class="flex flex-col justify-center items-center w-full gap-4">
  <div
    class="professional-experience flex flex-col gap-4 justify-center items-center w-full"
  >
    <Disclosure
      title="Design Engineer"
      company="Visa Inc."
      date="May 2022 - June 2024"
      open
    >
      <ul role="list" class="flex list-['•'] flex-col gap-3 p-6">
        <li class="pl-4">
          Spearheaded the creation and management as the lead engineer for Visa
          Design System React library–Nova, enhancing collaboration between
          designers and engineers to deliver seamless user experiences.
        </li>
        <li class="pl-4">
          Achieved industry-level accessibility (WCAG 2.1) compliance for Nova,
          significantly improving accessibility and inclusivity, in
          collaboration with A11y researchers.
        </li>
        <li class="pl-4">
          Authored comprehensive documentation of Nova in React and led
          knowledge-sharing sessions, resulting in a 50% time reduction in
          onboarding time for new developers.
        </li>
        <li class="pl-4">
          Identified and implemented process improvements for VaultKey+ Design
          system in both React and Angular.
        </li>
        <li class="pl-4">
          Facilitated cross-functional communication and problem-solving,
          leading to a 30% decrease in bug resolution time in VaultKey+.
        </li>
        <li class="pl-4">
          Provided critical support for North American and Asia-Pacific regions,
          successfully addressing and resolving high-priority issues in both
          legacy and new design systems.
        </li>
      </ul>
    </Disclosure>
    <Disclosure
      title="Visualization (Frontend Engineer) Intern"
      company="MANN HUMMEL USA Inc."
      date="Aug 2021 - May 2022"
    >
      <ul role="list" class="flex list-['•'] flex-col gap-3 p-6">
        <li class="pl-4">
          Led the design of a specialized portal interface collaborating with
          the leadership team. Developed a single-page application (SPA) using
          React + Typescript and MS Graph API, allowing leadership teams to
          visualize and edit datasets seamlessly, reducing dependency on
          SharePoint lists and online Excel. Achieved a 50% improvement in team
          efficiency by implementing the new web portal.
        </li>
        <li class="pl-4">
          Reimagined a legacy Production Console Interface, creating a
          user-friendly tablet interface for internal clients using Figma,
          enhanced the overall user experience, contributing to improved
          usability and efficiency by 40% in day-to-day operations.
        </li>
      </ul>
    </Disclosure>
  </div>
  <div
    class="ux-projects flex flex-col gap-4 justify-center item-center w-full"
  >
  </div>
  
</div>
