---
const { className, title, style } = Astro.props;
---

<div class="card" style={style}>
  {title && <h3 class="font-light text-[2.25rem] pb-2 pr-2">{title}</h3>}
  <div class:list={[`${className || ""}`]}>
    <slot />
  </div>
</div>
<style>
  .card {
    background-color: var(--floating-color);
    padding: 2rem;
    border-radius: 1.5rem;
  }

  @media (prefers-contrast: more) {
  .card {
    border: 2px solid black;
  }
}
</style>
