---
const { className, title, cardType = 'primary', style } = Astro.props;
---

<div class:list={["card", `${className}`, `card-${cardType}`]} style={style}>
  {title && <h3 class="font-light text-[2.25rem] pb-2 pr-2">{title}</h3>}
  <div class:list={[`${className || ""}`]}>
    <slot />
  </div>
</div>
<style>
  .card {
    border-radius: var(--border-radius);
    box-shadow: 0 1px 4px rgba(var(--shadow-color));
    padding: 1.5rem;
  }

  .card-primary {
    background-color: rgba(var(--floating-color), 1);
  }

  .card-secondary {
    background-color: rgba(var(--background), 1);
    outline: 2px solid rgba(var(--secondary-color), 1);
  }

  @media (prefers-contrast: more) {
    .card {
      border: 2px solid black;
    }
  }
</style>
