---
// Import necessary components
import { Icon } from "astro-icon/components";

import Divider from "../components/divider/Divider.astro";
import Link from "../components/link/Link.astro";
import ProfileImage from "../components/profile-image/ProfileImage.astro";
import Tag from "../components/tag/Tag.astro";

import Layout from "../layouts/Layout.astro";
import Education from "../section/Education.astro";
import Footer from "../section/Footer.astro";
import Header from "../section/Header.astro";
import OtherProjects from "../section/OtherProjects.astro";
import ProfessionalExperience from "../section/ProfessionalExperience.astro";
import UXProjects from "../section/UXProjects.astro";
// import Experience from './ui/pages/experience.astro';
---

<Layout title="Orion's Portfolio">
  <Header />
  <div
    class="flex flex-col justify-between items-center min-h-screen px-4 pb-16 gap-16"
  >
    <main
      class="flex flex-col gap-8 sm:items-start xl:px-[15%] lg:px-36 sm:px-10"
    >
      <section
        class="flex flex-row flex-wrap-reverse flex-1 w-full gap-x-24 items-center justify-center"
      >
        <div class="flex flex-col">
          <h1 style={{ fontWeight: "700", fontSize: "64px" }}>
            Orion<span style={{ fontWeight: "400", fontSize: "64px" }}
              >&apos;s Portfolio</span
            >
          </h1>
          <div
            class="roles flex flex-row gap-2 justify-center xl:justify-start"
          >
            <Tag>Software Engineer</Tag>
            <Tag>UX Designer</Tag>
            <Tag>Photographer</Tag>
          </div>
        </div>
        <div class="px-16">
          <ProfileImage
            alt="Orion's profile picture"
            width={300}
            height={300}
          />
        </div>
      </section>

      <!-- About Section -->
      <div class="intro flex flex-col gap-4">
        <h2 class="flex gap-4 items-center text-4xl">
          <Icon name="id-card" />
          About Me
        </h2>
        <span
          >Hey! My name is <span class="underline underline-offset-2"
            >Xiaolei Qin (秦啸雷 to be precise)</span
          >, but you may call me Orion. I am currently a HCI/UX master student
          at UT Austin. I was previously a software engineer who was really into
          design, and now I am learning about it! I enjoy learning new
          technologies and designing things, and I care about user experience
          deeply. I am eager to provide my unique perspectives and to become a
          bridge between engineering and designing!</span
        >
      </div>
      <Divider dividerType="primary" />

      <!-- Experience Section -->
      <div class="flex w-full justify-between gap-8 flex-wrap">
        <h2 class="text-4xl flex gap-4 items-center">
          <Icon name="timeline" />Professional Experience
        </h2>
        <p class="whitespace-nowrap flex items-center gap-2">
          Here is the PDF version:
          <Link underline newTab href="/Portfolio/Xiaolei_Qin_Resume.pdf"
            ><Icon name="file-lines" />View PDF</Link
          >
        </p>
      </div>
      <ProfessionalExperience />
      <Divider dividerType="primary" />
      <h2 class="text-4xl flex gap-4 items-center">
        <Icon name="layer-group" />UX Projects
      </h2>
      <UXProjects />
      <Divider dividerType="primary" />
      <h2 class="text-4xl flex gap-4 items-center">
        <Icon name="diagram-project" />Other Projects
      </h2>

      <OtherProjects />
      <Divider dividerType="primary" />
      <!-- Education Section -->

      <h2 class="text-4xl flex gap-4 items-center">
        <Icon name="graduation-cap" />Education
      </h2>
      <Education />
    </main>
    <Footer />
  </div>
</Layout>
