@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f6f6;
  --foreground: #171717;
  --primary-color: #18afbd;
  --secondary-color: #e9899b;
  --floating-color: #ececec;
}

img {
  width: auto;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #d5d5d5;
    --primary-color: #fd8b51;
    --secondary-color: #508d4e;
    --floating-color: #2f2f2f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
