---
import { ABOUT_PHOTOS } from "../../data/about-photos";
---

<div class="photo-carousel" data-photo-carousel data-set-size={ABOUT_PHOTOS.length}>
  <div class="photo-carousel__viewport" id="about-photo-carousel">
    <ul class="photo-carousel__track">
      {
        ABOUT_PHOTOS.map((photo) => (
          <li class="photo-carousel__slide">
            <img
              src={photo.src}
              width={photo.width}
              height={photo.height}
              alt=""
              loading="lazy"
              decoding="async"
              draggable="false"
            />
          </li>
        ))
      }
    </ul>
  </div>
</div>

<script>
  import {
    initPhotoCarousels,
    teardownPhotoCarousels,
  } from "./init-photo-carousel";

  document.addEventListener("astro:before-swap", teardownPhotoCarousels);

  initPhotoCarousels();
  document.addEventListener("astro:page-load", initPhotoCarousels);
</script>
