.divider {
    border-radius: 25px;
    border-width: 0.5px;
    inline-size: 100%;
}

.primary {
    border-color: var(--primary-color);
}

.secondary {
    border-color: var(--forground);
}

.tertiary {
    border-color: var(--floating-color);
    border-width: 2px;
}