---
import Footer from "../section/Footer.astro";
import Header from "../section/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div
      class="flex flex-col justify-between items-center min-h-screen px-4 pb-16 gap-16"
    >
      <main
        class="flex flex-col gap-8 items-center lg:px-30 sm:px-10 max-w-6xl"
      >
        <slot />
      </main>
      <Footer />
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                entry.target.classList.add("opacity-100", "translate-y-0");
                entry.target.classList.remove("opacity-0", "translate-y-10");
              }
            });
          },
          {
            threshold: 0.2, // Trigger when 20% of the element is visible
          }
        );

        // Select all scroll-content elements to observe
        document
          .querySelectorAll(".scroll-content")
          .forEach((el) => observer.observe(el));
      });
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".scroll-link").forEach((link) => {
          link.addEventListener(
            "click",
            function (this: HTMLAnchorElement, event) {
              const isHomePage = window.location.pathname === "/";
              if (isHomePage) {
                event.preventDefault(); // Prevent default jump
              }
              const href = this.getAttribute("href");
              const targetId = this.getAttribute("href")?.substring(1);
              const target = targetId
                ? document.getElementById(targetId)
                : null;
              const offset = 150; // Adjust this value based on your header height

              if (target) {
                const topPosition = target.offsetTop - offset;
                window.scrollTo({ top: topPosition, behavior: "smooth" });
              }
            }
          );
        });
      });
    </script>
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  html {
    scroll-behavior: smooth;
  }

  :root {
    --background: #ffffff;
    --foreground: #003149;
    --primary-color: #007db3;
    --secondary-color: #005a84;
    --floating-color: #e5f5fb;
    --ambience-color: #b5dff1;
    --tint-color: 0, 125, 179; /* RGB of primary-color */
  }

  :root.dark {
    --background: #272727;
    --foreground: #f2cbdc;
    --primary-color: #f568a5;
    --secondary-color: #e59fbd;
    --floating-color: #3a2c34;
    --ambience-color: #4a2e3c;
    --tint-color: 245, 104, 165;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Gabarito", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
  }

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
</style>
